# Python virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Other IDEs
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Python packaging
*.egg-info/
dist/
build/

# Environment variables / secrets
.env
.env.*